<section class="mx-3">
  <div
    class="alert alert-success col-12 col-sm-8 col-md-6 mx-auto mt-5"
    *ngIf="success"
  >
    {{ success }}
  </div>
  <div
    class="alert alert-danger col-12 col-sm-8 col-md-6 mx-auto mt-5"
    *ngIf="error"
  >
    {{ error }}
  </div>

  <form
    class="mx-auto mt-5 col-12 col-sm-8 col-md-6"
    (ngSubmit)="onSubmit()"
    [formGroup]="editProductForm"
  >
    <div class="mb-3">
      <label for="name" class="form-label">Nombre del producto</label>
      <input
        type="text"
        [ngClass]="{
          'form-control': true,
          'is-valid': isValidField('name'),
          'is-invalid': isInvalidField('name')
        }"
        id="name"
        name="name"
        formControlName="name"
        pattern="[a-zA-Z0-9]{3,16}"
      />
      <div
        *ngIf="editProductForm.get('name')?.errors?.['pattern']"
        class="invalid-feedback"
      >
        Este campo debe tener enter 3 y 16 letras o numeros
      </div>

      <div
        *ngIf="editProductForm.get('name')?.errors?.['required']"
        class="invalid-feedback"
      >
        Este campo no debe estar vacio
      </div>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Precio del producto</label>
      <input
        type="number"
        [ngClass]="{
          'form-control': true,
          'is-valid': isValidField('price'),
          'is-invalid': isInvalidField('price')
        }"
        id="price"
        name="price"
        formControlName="price"
      />
      <div
        *ngIf="editProductForm.get('price')?.errors?.['required']"
        class="invalid-feedback"
      >
        Este campo es requerido
      </div>
    </div>

    <div class="col-7 mx-auto mt-3">
      <button
        type="submit"
        [disabled]="editProductForm.invalid"
        class="btn btn-success col-12"
      >
        Editar producto
      </button>
    </div>
    <div class="col-7 mx-auto mt-3">
      <button type="submit" class="btn btn-primary col-12" (click)="onBack()">
        Volver
      </button>
    </div>
  </form>
</section>
