<div class="px-3 mt-4 col-12">
  <div class="card">
    <div
      class="card-header"
      role="button"
      [routerLink]="['/products', product.id]"
    >
      {{ product.name }}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Id: ${{ product.id }}</li>
    </ul>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Precio: ${{ product.price }}</li>
    </ul>

    <div class="d-flex flex-wrap col-12 p-0 my-2">
      <ul class="col-12 col-sm-6 p-0 my-2">
        <div class="px-2">
          <button class="col-12 btn btn-warning" [routerLink]="['/products/edit-product/',product.id]">Editar</button>
        </div>
      </ul>
      <ul class="col-12 col-sm-6 p-0 my-2">
        <div class="px-2">
          <button class="col-12 btn btn-danger" (click)="deleteProduct()">Eliminar</button>
        </div>
      </ul>
    </div>
  </div>

  <div class="mt-5 col-5 mx-auto">
    <button (click)="onBack()" class="btn btn-primary col-12">Volver</button>
  </div>
</div>
